div.gameprmo {
    cursor: pointer;
    height: 36.5%;
    width: 21.6%; 
    background-color: #444444;
    box-shadow: 2px 2px 2px 2px #0a0a0a;
    display: flex;
    flex-direction: column;
}

div.gameprmo nav.image-card {
    display: flex;
    align-items: flex-start;
    height: 70%;
    width: 100%;
}

div.gameprmo nav.image-card img {
    height: 100%;
    width: 100%;
}

div.gameprmo nav.promoinfo {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5%;
}

div.gameprmo nav.promoinfo a {
    height: auto;
    width: auto;
    word-break: break-all;
    overflow: hidden;
    font-size: 10px;
    font-family: 'Nunito';
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 1450px) {
    nav.promoinfo a {
        font-size: 8px;
    }
}

@media screen and (max-width: 1100px) {
    nav.promoinfo a {
        font-size: 6px;
    }
}

nav.promoinfo div.prices {
    height: 100%;
    width: 60%;
    background-image: linear-gradient(to right, rgb(5, 86, 17), rgb(3, 172, 3));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Nunito';
    font-size: 12px;
    white-space: nowrap;
    font-size: 10px;
    color: #000000;
    overflow: hidden;
    margin-left: 2.5%;
}

@media screen and (max-width: 1680px) {
    nav.promoinfo div.prices {
        font-size: 10px;
    }
}

@media screen and (max-width: 1440px) {
    nav.promoinfo div.prices {
        font-size: 8px;
    }
}

@media screen and (max-width: 1366px) {
    nav.promoinfo div.prices {
        font-size: 6px;
    }
}

@media screen and (max-width: 1280px) {
    nav.promoinfo div.prices {
        font-size: 5px; 
    }
}

@media screen and (max-width: 1024px) {
    nav.promoinfo div.prices {
        font-size: 4px; 
    }
}

@media screen and (max-width: 800px) {
    nav.promoinfo div.prices {
        font-size: 3px;
    }
}

@media screen and (max-width: 600px) {
    nav.promoinfo div.prices {
        font-size: 2px;
    }
}

nav.promoinfo div.prices p {
    color: #ffffff;
    font-size: 16px;
    white-space: nowrap;
}

@media screen and (max-width: 1680px) {
    nav.promoinfo div.prices p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1440px) {
    nav.promoinfo div.prices p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1366px) {
    nav.promoinfo div.prices p {
        font-size: 10px;
    }
}

@media screen and (max-width: 1280px) {
    nav.promoinfo div.prices p {
        font-size: 8px; 
    }
}

@media screen and (max-width: 1024px) {
    nav.promoinfo div.prices p {
        font-size: 6px; 
    }
}

@media screen and (max-width: 800px) {
    nav.promoinfo div.prices p {
        font-size: 5px;
    }
}

@media screen and (max-width: 600px) {
    nav.promoinfo div.prices p {
        font-size: 4px;
    }
}